* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* Grid layout */
.layout {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "sidebar topbar"
        "sidebar content";
    height: 100vh;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #01601c;
    color: white;
    padding-top: 20px;
    overflow-y: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pbsilogo {
height: 80px;
    object-fit: contain;
    filter: drop-shadow(0 0 2px yellow) 
            drop-shadow(0 0 2px yellow) 
            drop-shadow(0 0 2px yellow);
}

.sidebar nav ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar nav ul li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #ccc;
    transition: background-color 0.3s;
}

.sidebar nav ul li.active a,
.sidebar nav ul li a:hover {
    background-color: #e2e9009a;
    color: white;
}

/* Top bar */
.topbar {
    grid-area: topbar;
    background-color: #013b1db1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.pbsiname {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

/* Content */
.content {
    grid-area: content;
    padding: 20px;
    overflow-y: auto;
}

.subtitle {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

